.ui-content {
  padding-top: 5px; /* default 1em */
}

/* more space for header text, less for buttons, default 30% */
.ui-header .ui-title {
  margin-left: 25%;
  margin-right: 25%;
}

.jqm-dlg-service-error .ui-header .ui-title,
.jqm-dlg-service-msg .ui-header .ui-title,
.jqm-dlg-service-confirm .ui-header .ui-title,
.jqm-dlg-service-prompt .ui-header .ui-title,
.ui-datebox-container .ui-header .ui-title {
  margin-left: 15%;
  margin-right: 15%;
}

.jqm4gwt-listitem a.ui-btn {
  padding-top: 0.25em; /* default 0.7em */
  padding-bottom: 0.35em; /* default 0.7em */
}

.jqm4gwt-listitem .ui-select a.ui-btn {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.jqm4gwt-listitem.ui-li-static {
  padding-top: 0em; /* default 0.7em */
  padding-bottom: 0.35em; /* default 0.7em */
}

.jqm4gwt-listitem .ui-btn > .jqm4gwt-listitem-thumb, .jqm4gwt-listitem .ui-btn > .ui-li-thumb {
  margin-top: 0.45em; /* sync with the first line of list item text, default 0 */
  margin-left: 0.45em; /* just for symmetry with top */
}

.ui-btn-icon-right:after,
.ui-icon-delete:after {
  width: 14px;
  height: 14px;
}

.ui-btn-icon-right select option {
  background: #B7FFF0;
}

.ui-popup.ui-body-inherit {
    background: #B7FFF0;
    border: 2px solid rgb(127, 251, 221);
    border-radius: 6px;
}

.ui-popup.ui-body-inherit .ui-controlgroup-controls .ui-icon-delete {
    width: 50%;
    background: #B7FFF0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto 20px;
}

.ui-listview>.ui-li-static {
    border-style: none;
}

.ui-checkbox .ui-checkbox-off,
.ui-checkbox .ui-checkbox-on {
    top: 15px;
}

.ui-checkbox .ui-checkbox-off:after,
.ui-checkbox .ui-checkbox-on:after {
   background-image: none;

}

/* exact the same selectors as in jquery.mobile.css, 20% 78% -> 30% 68% and 49% 49% */
@media (min-width: 28em) {
  .ui-field-contain > label,
  .ui-field-contain .ui-controlgroup-label,
  .ui-field-contain > .ui-rangeslider > label {
    width: 30%;
  }
  .jqm4gwt-form-50x50 .ui-field-contain > label,
  .jqm4gwt-form-50x50 .ui-field-contain .ui-controlgroup-label,
  .jqm4gwt-form-50x50 .ui-field-contain > .ui-rangeslider > label {
    width: 49%;
  }

  .ui-popup .ui-field-contain > label,
  .ui-popup .ui-field-contain .ui-controlgroup-label,
  .ui-popup .ui-field-contain > .ui-rangeslider > label {
    width: auto;
  }

  .ui-field-contain > label ~ [class*="ui-"],
  .ui-field-contain .ui-controlgroup-controls {
    width: 68%;
  }
  .jqm4gwt-form-50x50 .ui-field-contain > label ~ [class*="ui-"],
  .jqm4gwt-form-50x50 .ui-field-contain .ui-controlgroup-controls {
    width: 49%;
  }

  /* ui-hide-label deprecated in 1.4. TODO: Remove in 1.5 */
  .ui-hide-label > label ~ [class*="ui-"],
  .ui-hide-label .ui-controlgroup-controls,
  .ui-popup .ui-field-contain > label ~ [class*="ui-"],
  .ui-popup .ui-field-contain .ui-controlgroup-controls {
    width: 100%;
  }
  .ui-field-contain > label ~ .ui-btn-inline {
    width: auto;
  }

}


/* Fix for radio on listview band */
.jqm4gwt-li-controls .ui-controlgroup-controls .ui-radio .ui-btn {
  border-bottom-width: 1px;
}


/* Based on http://stackoverflow.com/a/8699150/714136  But position: relative; must not be defined! */
@media only screen and (min-width: 1300px) {
  /*html { background: #333 !important; }*/

  /*body { background: transparent !important; }*/

  .ui-page {
    max-width: 1300px !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  /*// WARNING! index.html must be changed as well, see override of mobile.popup._clampPopupWidth() there.*/
}
